<div class="back" [style.background]="activity && activity.VideoInici ? 'url(' + activity.VideoInici.urlThumbnail + ')' : 'transparent'" [style.background-size]="'cover'" (click)="goToActivity()">
  <div class="color" [style.background]="getColor(activity.color, true)">
    <div class="activity">

      <div class="bar" [style.background]="getColor(activity.color)"></div>

      <div class="share">
        <ion-button (click)="obreOpcions($event)" shape="round" fill="clear" [style.color]="getColor(activity.color)">
          <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
        </ion-button>
      </div>

      <div class="info">
        <p class="title">{{ activity.titol }}</p>
        <p class="subtitle">
          <ion-text color="medium">
            <span *ngIf="activity.dataPublicacio">{{ activity.dataPublicacio | date:'dd/MM/yyyy' }}</span>
            <span *ngIf="activity.dataPublicacio && activity.dataFinalitzacio"> - {{ activity.dataFinalitzacio | date:'dd/MM/yyyy' }}</span>
            <span *ngIf="!activity.dataPublicacio && !activity.dataFinalitzacio">No publicada</span>
          </ion-text>
        </p>

        <div class="users">
          <app-activity-btn *ngFor="let usuari of firstVideos()" [video]="video" small="true"></app-activity-btn>
          <div class="extra-qty" *ngIf="activity.participants && activity.participants.length && activity.participants.length > maxUsers"
            [style.color]="getColor(activity.color)">{{ extraUsersText() }}
          </div>
          <p class="no-users" *ngIf="!activity.participants || activity.participants.length < 1">Encara no hi ha participants</p>
        </div>
      </div>

    </div>
  </div>
</div>