<div class="activity">

  <div class="bar"></div>

  <div class="share">
    <ion-button (click)="onClick()" shape="round" fill="clear">
      <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
    </ion-button>  
  </div>

  <div class="info">
    <p class="title">{{ activity.title }}</p>
    <p class="subtitle">{{ activity.description }}</p>
    
    <div class="users">
      <app-activity-btn *ngFor="let user of firstUsers()" [user]="user" small="true"></app-activity-btn>
      <div class="extra-qty" *ngIf="activity.users.length && activity.users.length > maxUsers">{{ extraUsersText() }}</div>
      <p class="no-users" *ngIf="activity.users.length < 1">Encara no hi ha participants</p>
    </div>
  </div>

</div>