<!-- 
  <div class="outter" [ngClass]="{
  'pending': !usuari.sent, 
  'no-validated': usuari.sent && !usuari.validated, 
  'validated': usuari.sent && usuari.validated, 
  'shadow-1': true, 
  'shadow-2': !usuari.validated && !small, 
  'small': small}"> 
-->

<!-- 
  <div class="outter" [ngClass]="{
  'pending': !usuari.sent, 
  'no-validated': !video.validat, 
  'validated': usuari.validat, 
  'shadow-1': true, 
  'shadow-2': !usuari.validat && !small, 
  'small': small}"> 
-->

<div class="outter" [ngClass]="{
  'no-validated': video && needValidation && !video.validat, 
  'validated': video && needValidation && video.validat, 
  'shadow-1': true, 
  'shadow-2': video && needValidation && !video.validat && !small, 
  'small': small}">
  <div class="inner" [style.background]=" video && video.enviatPer.imatgePerfil ? 'url(' + video.enviatPer.imatgePerfil + ')' : 'transparent'" [style.background-size]="'cover'">
    <span *ngIf="video && !video.enviatPer.imatgePerfil">{{ getStands() }}</span>
  </div>
</div>