<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ activitat ? activitat.titol : 'Activitat' }}</ion-title>
    <ion-buttons slot="end">
      <!-- FASE 2
      <ion-button fill="clear" *ngIf="activitat && activitat.publicada">
        Editar
      </ion-button> -->
      <ion-button fill="clear" *ngIf="activitat && !activitat.publicada">
        Publicar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="light" (click)="showModalUploadVideo()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-content>

  <ion-item (click)="mostrantDetalls = !mostrantDetalls" color="getColor">
    <ion-label>
      <ion-text>
        {{ activitat ? activitat.objectius : '' }}
      </ion-text>
    </ion-label>
    <ion-chip outline="true" [color]="activitat ? activitat.color : 'medium'">
      <ion-label>Detalls</ion-label>
      <ion-icon *ngIf="!mostrantDetalls" name="chevron-down"></ion-icon>
      <ion-icon *ngIf="mostrantDetalls" name="chevron-up"></ion-icon>
    </ion-chip>
    <!-- <ion-note slot="end" color="blue">Més informació</ion-note>
    <ion-icon *ngIf="!mostrantDetalls" slot="end" name="chevron-down"></ion-icon>
    <ion-icon *ngIf="mostrantDetalls" slot="end" name="chevron-up"></ion-icon> -->
  </ion-item>

  <div *ngIf="mostrantDetalls">
    <ion-item lines="none">
      <ion-label position="stacked">Descripció</ion-label>
      <ion-textarea *ngIf="activitat" [(ngModel)]="activitat.descripcio" readonly></ion-textarea>
    </ion-item>
  
    <ion-item lines="none">
      <ion-label position="stacked">Objectius</ion-label>
      <ion-textarea *ngIf="activitat" [(ngModel)]="activitat.objectius" readonly></ion-textarea>
    </ion-item>
  
    <ion-item lines="none">
      <ion-label position="stacked">Materials</ion-label>
      <ion-textarea *ngIf="activitat" [(ngModel)]="activitat.materials" readonly></ion-textarea>
    </ion-item>
  
    <ion-item>
        <p>De - Fins</p>
        <p>
          <span *ngIf="activitat && activitat.dataPublicacio">{{ activitat.dataPublicacio | date:'dd/MM/yyyy' }}</span>
          <span *ngIf="activitat && activitat.dataPublicacio && activitat.dataFinalitzacio"> - {{ activitat.dataFinalitzacio | date:'dd/MM/yyyy' }}</span>
          <span *ngIf="activitat && !activitat.dataPublicacio && !activitat.dataFinalitzacio">No publicada</span>
        </p>
    </ion-item>
  </div>

  <app-video-item
    *ngIf="activitat && activitat.videoInici"
    [video]="activitat.videoInici"
    [color]="activitat.color">
  </app-video-item>

  <div class="ion-margin flex-container" *ngIf="activitat && activitat.videos">
    <app-activity-btn
      *ngFor="let video of videos"
      [video]="video">
    </app-activity-btn>
  </div>

  <app-video-item
    *ngIf="activitat && activitat.videoFi"
    [video]="activitat.videoFi"
    color="blue">
  </app-video-item>

</ion-content>
