<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ activitat ? activitat.titol : 'Activitat' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="goToEditActivity()" *ngIf="activitat && activitat.socProfessor">
        Editar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="activitat && !activitat.socProfessor && !videoUsuari">
  <ion-fab-button color="light" (click)="showModalUploadVideo()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-content>

  <div class="no-publicada-outer" *ngIf="activitat && !activitat.publicada">
    <div class="no-publicada">
      <h1 class="ion-text-center">NO PULICADA</h1>
    </div>
  </div>

  <ion-item (click)="mostrantDetalls = !mostrantDetalls" lines="none" *ngIf="activitat">
    <ion-label>
      <ion-text>
        {{ activitat && !mostrantDetalls ? activitat.objectius : '' }}
      </ion-text>
    </ion-label>
    <ion-chip outline="true" [color]="activitat ? activitat.color : 'medium'">
      <ion-label>Detalls</ion-label>
      <ion-icon *ngIf="!mostrantDetalls" name="chevron-down"></ion-icon>
      <ion-icon *ngIf="mostrantDetalls" name="chevron-up"></ion-icon>
    </ion-chip>
  </ion-item>

  <div *ngIf="mostrantDetalls">

    <ion-item lines="none">
      <ion-label position="stacked">Objectius</ion-label>
      <ion-textarea *ngIf="activitat" [(ngModel)]="activitat.objectius" readonly></ion-textarea>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Materials</ion-label>
      <ion-textarea *ngIf="activitat" [(ngModel)]="activitat.materials" readonly></ion-textarea>
    </ion-item>

    <ion-grid fixed>
      <ion-row>
        <ion-col size="6">
          <ion-item lines="none">
            <ion-label position="stacked">De</ion-label>
            <!-- TODO: Canviar el format horari i afegir hora -->
            <ion-datetime [(ngModel)]="activitat.dataPublicacio" display-timezone="utc" readonly></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item lines="none">
            <ion-label position="stacked">Fins</ion-label>
            <!-- TODO: Canviar el format horari i afegir hora -->
            <ion-datetime [(ngModel)]="activitat.dataFinalitzacio" display-timezone="utc" readonly></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

  <app-video-item *ngIf="activitat && activitat.videoInici" [descripcio]="activitat.descripcio"
    [video]="activitat.videoInici" [color]="activitat.color">
  </app-video-item>

  <h3 class="ion-padding-horizontal">Respostes</h3>

  <!-- Respostes alumnes -->
  <div class="participants-outter ion-padding" *ngIf="activitat && activitat.videos">
    <div class="participants-inner">

      <span *ngFor="let video of respostesFiltrades()">
        <app-activity-btn
          (click)="showModalValidaActivitat(video, activitat)" [video]="video"
          [needValidation]="necessitaValidacio(video)">
        </app-activity-btn>
      </span>

    </div>
  </div>


  <!-- *ngIf="activitat && (activitat.socProfessor || !activitat.esPrivada)" -->
  <!-- <div class="participants-outter ion-padding" *ngIf="activitat && activitat.videos">
    <div class="participants-inner">

      <span *ngFor="let video of activitat.videos">
        <app-activity-btn
          *ngIf="activitat && (activitat.socProfessor || !activitat.calValidacio || video.validat)"
          (click)="showModalValidaActivitat(video, activitat)"
          [video]="video"
          [needValidation]="activitat.calValidacio && (activitat.socProfessor || video.enviatPer.id == user.id)">
        </app-activity-btn>
      </span>
      
    </div> -->

  <!-- <div class="participants-inner" *ngIf="activitat && activitat.esPrivada && !activitat.socProfessor && videoUsuari">
      <app-activity-btn
          *ngIf="activitat && (activitat.socProfessor || !activitat.calValidacio || video.validat)"
          (click)="showModalValidaActivitat(videoUsuari, activitat)"
          [video]="videoUsuari"
          [needValidation]="activitat.calValidacio">
        </app-activity-btn>
    </div> 

  </div>
  -->

  <app-video-item *ngIf="activitat && activitat.videoFi" [video]="activitat.videoFi" color="blue">
  </app-video-item>

</ion-content>