<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-left">Escola les vinyes</ion-title>
    <ion-buttons slot="end">
      <!-- <app-activity-btn style="margin-right: 16px;" [user]="user" small="true"></app-activity-btn> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="light">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-content class="ion-padding-horizontal">

  <div *ngIf="selectedOrg">
    <div *ngFor="let grup of selectedOrg.grups">

      <ion-text color="medium">
        <h3 style="font-weight: lighter;">{{ grup.nom }}</h3>
        <p (click)="afegeixActivitat(grup)" class="ion-text-center" *ngIf="grup.activitats && grup.activitats.length < 1" style="font-weight: lighter;">
          <ion-icon name="add"></ion-icon>
          Crea una activitat
        </p>
      </ion-text>

      <div *ngFor="let activitat of grup.activitats">
        <app-activity-item [activity]="activitat" [color]="'blue'"></app-activity-item>
      </div>

    </div>
  </div>


</ion-content>