<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-left">{{  selectedOrg ? selectedOrg.nom : 'Educfinament' }}</ion-title>

    <ion-avatar slot="end" *ngIf="user" (click)="doLogout()" class="ion-margin-end">
      <img [src]="userImg() || 'https://educfinament.s3-us-west-2.amazonaws.com/avatars/default.jpg'"/>
    </ion-avatar>

  </ion-toolbar>
</ion-header>

<ion-fab *ngIf="selectedOrg && !selectedOrg.socProfessor" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="light" (click)="creaGrup()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="selectedOrg && selectedOrg.socProfessor">
  <ion-fab-button color="light">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button (click)="novaInvitacioVisible = true"><ion-icon name="barcode"></ion-icon></ion-fab-button>
    <ion-fab-button (click)="creaGrup()"><ion-icon name="add"></ion-icon></ion-fab-button>
  </ion-fab-list>
</ion-fab>

<ion-content class="ion-padding-horizontal">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- *ngIf="!selectedOrg || selectedOrg.grups.length == 0"  -->
  <!-- <div class="invitacio" *ngIf="!selectedOrg || selectedOrg.grups.length == 0 || novaInvitacioVisible">

    <ion-text color="light">
      <h3>Codi Invitació</h3>
    </ion-text>
    <ion-item lines="none">
      <ion-input [(ngModel)]="codiInvitacio"></ion-input>
      <ion-button (click)="acceptaInvitacio()" slot="end" fill="clear" color="yellow">
        <ion-icon slot="icon-only" name="chevron-forward"></ion-icon>
      </ion-button>
    </ion-item>
    <p>Enganxa aquí el codi que t'ha passat el teu centre o professor per afegir la nova activitat</p>

  </div> -->

  <div *ngIf="selectedOrg">
    <div *ngFor="let grup of selectedOrg.grups">

      <ion-text color="medium">

        <ion-item lines="none">
          <h3>{{ grup.nom }}</h3>
          <ion-button
            *ngIf="grup.socProfessor"
           (click)="creaActivitat(grup)" slot="end" fill="clear" class="ion-no-margin">
            <ion-icon slot="icon-only" name="add"></ion-icon>
          </ion-button>
        </ion-item>

        <p (click)="creaActivitat(grup)" class="ion-text-left ion-no-margin"
          *ngIf="grup.activitats && grup.activitats.length < 1" style="font-weight: lighter;">
          <ion-icon name="add"></ion-icon>
          Crea una activitat
        </p>
      </ion-text>

      <div *ngFor="let activitat of grup.activitats">
        <app-activity-item [activity]="activitat" *ngIf="activitat.socProfessor || activitat.publicada"></app-activity-item>
      </div>

    </div>
  </div>

</ion-content>
