.school {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-light);
}

// Descomentar per remarcar escola seleccionada
// .school-active {
//   --background: var(--ion-color-success);
//   --color: var(--ion-color-dark);
// }

.classroom {
  --background: var(--ion-color-secondary);
  --color: var(--ion-color-light);
}

// Descomentar per remarcar classe seleccionada
// .classroom-active {
//   --background: var(--ion-color-success);
//   --color: var(--ion-color-dark);
// }

ion-avatar {
  border: 1px solid #EEE;
  width: 32px;
  height: 32px;
}

.invitacio {
  background: var(--ion-color-blue);
  margin-top: 32px;
  padding: 16px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  border-radius: 16px;

  ion-input {
    margin-top: 16px;
    --background: var(--ion-color-light);
    border-radius: 100px;
    --padding-start: 8px;
  }

}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;

  h3 {
    margin-bottom: 0.8em;
  }

}