.school {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-light);
}

// Descomentar per remarcar escola seleccionada
// .school-active {
//   --background: var(--ion-color-success);
//   --color: var(--ion-color-dark);
// }

.classroom {
  --background: var(--ion-color-secondary);
  --color: var(--ion-color-light);
}

// Descomentar per remarcar classe seleccionada
// .classroom-active {
//   --background: var(--ion-color-success);
//   --color: var(--ion-color-dark);
// }