/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// CORRECCIO ALINEACIO ICONES DINS DE TEXTS
// font: https://github.com/ionic-team/ionic/issues/18033
h1, h2, h3, h4, h5 {

  font-family: 'Source Sans Pro', sans-serif;

  ion-icon {
    vertical-align: middle;
    padding-bottom: 1px;
  }
}
  
ion-label {
  ion-icon {
    margin-bottom: -1px;
  }
}

p {
  ion-icon {
    padding-bottom: -1px;
  }
}

// SOMBRES: https://codepen.io/sdthornton/pen/wBZdXq
.shadow-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.shadow-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.shadow-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.shadow-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.shadow-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.shadow-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

// COLORS PERSONALITZATS
.ion-color-yellow {
  --ion-color-base: var(--ion-color-yellow) !important;
  --ion-color-base-rgb: var(--ion-color-yellow-rgb) !important;
  --ion-color-contrast: var(--ion-color-yellow-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-yellow-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-yellow-shade) !important;
  --ion-color-tint: var(--ion-color-yellow-tint) !important;
}

.ion-color-blue {
  --ion-color-base: var(--ion-color-blue) !important;
  --ion-color-base-rgb: var(--ion-color-blue-rgb) !important;
  --ion-color-contrast: var(--ion-color-blue-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-blue-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-blue-shade) !important;
  --ion-color-tint: var(--ion-color-blue-tint) !important;
}

.ion-color-red {
  --ion-color-base: var(--ion-color-red) !important;
  --ion-color-base-rgb: var(--ion-color-red-rgb) !important;
  --ion-color-contrast: var(--ion-color-red-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-red-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-red-shade) !important;
  --ion-color-tint: var(--ion-color-red-tint) !important;
}

.ion-color-purple {
  --ion-color-base: var(--ion-color-purple) !important;
  --ion-color-base-rgb: var(--ion-color-purple-rgb) !important;
  --ion-color-contrast: var(--ion-color-purple-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-purple-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-purple-shade) !important;
  --ion-color-tint: var(--ion-color-purple-tint) !important;
}

.ion-color-pink {
  --ion-color-base: var(--ion-color-pink) !important;
  --ion-color-base-rgb: var(--ion-color-pink-rgb) !important;
  --ion-color-contrast: var(--ion-color-pink-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-pink-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-pink-shade) !important;
  --ion-color-tint: var(--ion-color-pink-tint) !important;
}

.ion-color-turquoise {
  --ion-color-base: var(--ion-color-turquoise) !important;
  --ion-color-base-rgb: var(--ion-color-turquoise-rgb) !important;
  --ion-color-contrast: var(--ion-color-turquoise-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-turquoise-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-turquoise-shade) !important;
  --ion-color-tint: var(--ion-color-turquoise-tint) !important;
}

// COLORS NOTES AVALUACIO
.bg-moltbe {
  background: #dff0d8;
}
.bg-be {
  background: #d9edf7;
}
.bg-fluix {
  background: #fcf8e3;
}
.bg-noassolit {
  background: #f2dede;
}

.bg-moltbe.selected {
  background: #3c763d;
}
.bg-be.selected {
  background: #31708f;
}
.bg-fluix.selected {
  background: #cf8e1d;
}
.bg-noassolit.selected {
  background: #a94442;
}