video {
    width: 100%;
    height: auto;
    color: rgb(53, 86, 140);
}

ion-card {
    // --background: #FFD65D;
    border-radius: 0px;
}

ion-card p {
    padding-bottom: 0;
    color: black;
}

ion-card ion-item {
    --inner-padding-start: 0;
    // --inner-padding-end: 0;
    --background: transparent;
    // --color: var(--ion-color-light);
}

ion-button.btn-validar {
    width: 120px;
    --border-radius: 10px;
}

h1, p {
    display: inline-block;
}

.bar {
    height: 5px;
}