<ion-card class="ion-no-margin" [style.background]="getColor(color, true)">
  <video controls preload="none" [poster]="video.urlThumbnail">
    <!-- https://www.w3schools.com/html/mov_bbb.mp4 -->
    <!-- video/mp4 -->
    <source [src]="video.urlVideo" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>
  <ion-card-content class="ion-no-padding">

    <p class="ion-padding" *ngIf="video.descripcio">
      <!-- Descripció de l'activitat. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been... -->
      {{video.descripcio}}
    </p>

    <!-- Autor -->
    <ion-item lines="none" *ngIf="video.enviatPer">
      <ion-label>
        <ion-icon name="person"></ion-icon>
         {{video.enviatPer.nom}}
      </ion-label>
    </ion-item>

    <div class="bar" [style.background]="getColor(color)"></div>

  </ion-card-content>
</ion-card>
