<ion-card class="ion-no-margin">
  <video controls preload="none" poster="https://educfinament.s3-us-west-2.amazonaws.com/videos/1586106774699-thumbnail.jpg">
    <!-- https://www.w3schools.com/html/mov_bbb.mp4 -->
    <!-- video/mp4 -->
    <source src="https://educfinament.s3-us-west-2.amazonaws.com/videos/1586106774699-video.mp4" [type]="videoItem.videoType">
    Your browser does not support HTML5 video.
  </video>
  <ion-card-content class="ion-no-padding">

    <p class="ion-padding" *ngIf="videoItem.description">
      <!-- Descripció de l'activitat. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been... -->
      {{videoItem.description}}
    </p>

    <!-- Autor -->
    <ion-item lines="none">
      <ion-label>
        <ion-icon name="person"></ion-icon>
         {{videoItem.author}}
      </ion-label>
    </ion-item>

    <!-- Validacio -->
    <ion-item *ngIf="videoItem.isAnswer" lines="none">

      <ion-text 
        *ngIf="videoItem.isAnswer"
        slot="start"
        [color]="videoItem.validated ? 'success' : 'danger'">
        <h1><ion-icon [name]="videoItem.validated ? 'checkmark-circle' : 'alert-circle' "></ion-icon></h1>
        <p class="ion-margin-left"> &nbsp;{{ videoItem.validated ? 'VALIDAT' : 'NO VALIDAT' }}</p>
      </ion-text>
      
      <ion-buttons slot="end">
        <ion-button 
          *ngIf="videoItem.isAnswer"
          class="btn-validar"
          (click)="videoItem.validated = !videoItem.validated" 
          [color]="videoItem.validated ? 'danger' : 'success'" 
          fill="solid">
          {{ videoItem.validated ? "DESVALIDAR" : "VALIDAR" }}
        </ion-button>
      </ion-buttons>
    </ion-item>

    <!-- Tot junt -->
    <!-- <ion-item lines="none" [color]="videoItem.isAnswer ? 'light' : 'secondary'">

      <ion-text 
        *ngIf="videoItem.isAnswer"
        slot="start"
        [color]="videoItem.validated ? 'success' : 'danger'">
        <h1>
          <ion-icon 
            [name]="videoItem.validated ? 'checkmark-circle' : 'alert-circle' " 
          ></ion-icon>
        </h1>
      </ion-text>
      
      <ion-label>
        <ion-icon name="person"></ion-icon>
         {{videoItem.author}}
      </ion-label>
      <ion-buttons slot="end">
        <ion-button 
          *ngIf="videoItem.isAnswer"
          class="btn-validar"
          (click)="videoItem.validated = !videoItem.validated" 
          [color]="videoItem.validated ? 'danger' : 'success'" 
          fill="solid">
          {{ videoItem.validated ? "DESVALIDAR" : "VALIDAR" }}
        </ion-button>
      </ion-buttons>
    </ion-item> -->
    
  </ion-card-content>
</ion-card>