<ion-card class="ion-no-margin">
  <video controls preload="none" [poster]="video.urlThumbnail">
    <!-- https://www.w3schools.com/html/mov_bbb.mp4 -->
    <!-- video/mp4 -->
    <source [src]="video.urlVideo">
    Your browser does not support HTML5 video.
  </video>
  <ion-card-content class="ion-no-padding" *ngIf="videoItem.author || videoItem.description">

    <p class="ion-padding" *ngIf="video.descripcio">
      <!-- Descripció de l'activitat. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been... -->
      {{video.descripcio}}
    </p>

    <!-- Autor -->
    <ion-item *ngIf="videoItem.author" lines="none">
      <ion-label>
        <ion-icon name="person"></ion-icon>
         {{video.enviatPer.nom}}
      </ion-label>
    </ion-item>

    <!-- Validacio -->
    <!-- <ion-item *ngIf="video.isAnswer" lines="none">

      <ion-text 
        *ngIf="video.isAnswer"
        slot="start"
        [color]="video.validated ? 'success' : 'danger'">
        <h1><ion-icon [name]="video.validated ? 'checkmark-circle' : 'alert-circle' "></ion-icon></h1>
        <p class="ion-margin-left"> &nbsp;{{ video.validated ? 'VALIDAT' : 'NO VALIDAT' }}</p>
      </ion-text>

      <ion-buttons slot="end">
        <ion-button 
          *ngIf="video.isAnswer"
          class="btn-validar"
          (click)="video.validated = !video.validated" 
          [color]="video.validated ? 'danger' : 'success'" 
          fill="solid">
          {{ video.validated ? "DESVALIDAR" : "VALIDAR" }}
        </ion-button>
      </ion-buttons>
    </ion-item> -->

  </ion-card-content>
</ion-card>
